{% extends 'ObjectsMongoDBAdminBundle:General:base_admin.html.twig' %}

{% block title %}{% trans %}Site Blocks{% endtrans %}{% endblock %}

{% block breadcrumb %}<li class="active">{% trans %}Site Blocks{% endtrans %}</li>{% endblock %}

{% block body %}
{% for formError in form.vars.errors %}
    <div class="alert alert-error">
        {{ formError.message }}
    </div>
{% endfor %}
{{ form_start(form) }}
    <legend>Footer About</legend>
    <div class="control-group{% if form.footerAboutText.vars.errors | length > 0 %} error{% endif %}">
        <div class="controls">
            {{ form_widget(form.footerAboutText) }}
            <span class="help-inline"></span>
            {% for elementError in form.footerAboutText.vars.errors %}
            <div class="alert alert-error">
                {{ elementError.message }}<a href="#" class="close" data-dismiss="alert">&times;</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary pull-right">{% trans %}Save changes{% endtrans %}</button>
    </div>
{{ form_end(form) }}
{% endblock %}
