{% extends 'ObjectsMongoDBAdminBundle:General:base_admin.html.twig' %}

{% block title %}{% trans %}Site Configurations{% endtrans %}{% endblock %}

{% block breadcrumb %}<li class="active">{% trans %}Site Configurations{% endtrans %}</li>{% endblock %}

{% block body %}
{% for formError in form.vars.errors %}
    <div class="alert alert-error">
        {{ formError.message }}
    </div>
{% endfor %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    <legend>{% trans %}Site Configurations{% endtrans %}</legend>
    <div class="control-group{% if form.contact_email_to.vars.errors | length > 0 %} error{% endif %}">
        <label class="control-label">Contact Email to:</label>
        <div class="controls">
            {{ form_widget(form.contact_email_to) }}
            <span class="help-inline"></span>
            {% for elementError in form.contact_email_to.vars.errors %}
            <span class="help-block">
                {{ elementError.message }}
            </span>
            {% endfor %}
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
        <button type="reset" class="btn">{% trans %}Reset{% endtrans %}</button>
    </div>
{{ form_end(form) }}
{% endblock %}
